<section>
  <head>
  </head>
  <body>
    <!-- main -->
    <main role="main-inner-wrapper" class="container">
      <div class="row">
    	  <section class="col-xs-12 col-sm-6 col-md-6 col-lg-6 ">
          <article role="pge-title-content">
          	<header>
              <h2><span>J<label style="font-size:66px;font-weight:400">ordan</label></span>
                  <span>A<label style="font-size:66px;font-weight:400">ngela</label></span>
                  <span>C<label style="font-size:66px;font-weight:400">hristine</label></span>
                  <span>K<label style="font-size:66px;font-weight:400">endall</label></span>
                  <span>&nbsp;&nbsp;'D</span>
            </header>
          </article>
        </section>
        <section class="col-xs-12 col-sm-6 col-md-6 col-lg-6">
        	<article class="about-content">
            <p>JACK'D was created for the entertainment of all and provide stress-relief. Our fun and lively games allow users to unwind and take a break from their busy day to day lives. If you work through Pong, Snake, and FlappyBox we have hidden an additional secret game. See if you can try and find it! Start playing JACK'D games now and enjoy your life!</p>
          </article>
        </section>
      </div>
    </main>
    <style>
      margin-top: 75px;
      #bottom-container{
        display: none;
      }
    </style>
    <!-- footer -->
    <footer role="footer">
      <!-- logo -->
      <h1>
        <a href="/" target="_top" title="JACK'D"><img src="modules/core/client/img/logo.png" title="JACK'D" alt="JACK'D"/></a>
      </h1>
      <!-- nav -->
      <nav role="footer-nav">
      	<ul>
        	<li><a href="/games" target="_top" title="Games">Games</a></li>
            <li><a href="/about" target="_top" title="About">About</a></li>
            <li><a href="/setting" target="_top" title="Settings">Settings</a></li>
            <li><a href="/leaderboard" target="_top" title="Leaderboard">Leaderboard</a></li>
        </ul>
      </nav>
      <ul role="social-icons">
        <li><a href="https://twitter.com"><i class="fa fa-twitter" aria-hidden="true"></i></a></li>
          <li><a href="https://facebook.com"><i class="fa fa-facebook" aria-hidden="true"></i></a></li>
          <li><a href="https://linkedin.com"><i class="fa fa-linkedin" aria-hidden="true"></i></a></li>
          <li><a href="https://github.com/UPS-CSCI240-F17/JACK-D"><i class="fa fa-github" aria-hidden="true"></i></a></li>
      </ul>
      <p class="copy-right">&copy; JACK'D, 2017 </p>
    </footer>
  </body>
</section>
