<div class="container" ng-controller="FooterController as vm">
  <!-- Buttons on the right hand side of the footer-->
  <ul class="nav navbar-nav navbar-right">
    <li ng-repeat="item in vm.menu.items | orderBy: 'position'" ng-switch="item.type" ng-class="{ dropdown: item.type === 'dropdown' }" ui-sref-active="active" class="{{item.class}}" uib-dropdown="item.type === 'dropdown'">
      <a ng-switch-when="dropdown" class="dropdown-toggle" uib-dropdown-toggle role="button">{{::item.title}}&nbsp;<span class="caret"></span></a>
      <ul ng-switch-when="dropdown" class="dropdown-menu">
        <li ng-repeat="subitem in item.items | orderBy: 'position'">
          <a ui-sref="{{subitem.state}}({{subitem.params}})" ng-bind="subitem.title"></a>
        </li>
      </ul>
      <a ng-switch-default ui-sref="{{item.state}}" ng-bind="item.title"></a>
    </li>
  </ul>
</div>
