<section>
    <div class="row">
      <div class="col-md-6 col-md-offset-3 col-sm-6 col-sm-offset-3 col-xs-12">
      </div>
    </div>
    <br>
    <div class="row">
      <p class="lead">
        JACK'D Arcade
      </p>
    </div>
    <div class="row">
      <p>
        <!-- <a class="btn btn-primary btn-lg" href="http://meanjs.org" target="_blank">Learn more</a> -->
      </p>
    </div>
  </div>
  <div>
    <h2>Welcome to the JACK'D Arcade! Enjoy our three kinda janky games!</h2>
    <p>Games:</p>
    <ul>
      <li>
        Snake
      </li>
      <li>
        Pong
      </li>
      <li>
        <em>Secret Game...</em> See if you can find it!
      </li>
      <p>
        Have fun!
      </p>
    </ul>
  </div>
  <div class="row">
    <div class="col-md-4">
    <a class="btn btn-danger btn-lg" href="http://meanjs.org" target="_blank">Secret</a>
    <div class="col-md-4">
    <a class="btn btn-success btn-lg" href="http://meanjs.org" target="_blank">Snake</a>
    </div>
    <div class="col-md-4">
    <a class="btn btn-info btn-lg" href="http://meanjs.org" target="_blank">Pong</a>
  </div>
  <p>
    <br>Yours Truly,
    <br>JACK'D.
  </p>
</section>
