<section>
<head>

    <link href="modules/core/client/css/effects/bounce.css" rel="stylesheet" type="text/css">

    <link href="style.css" rel="stylesheet" type="text/css"
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="">
    <meta name="author" content="">

</head>

<style>
 #bottom-container{
   display: none;
 }
</style>


<body>

  <div class="homepage">
    <a href="/games" id="homepageBody" class="hvr-pulse-grow">
    </a>
  </div>
</body>

</section>
