<!DOCTYPE html>
<html class>
<!-- Make sure the <html> tag is set to the .homepage CSS class. Change the background image in the style.css file. -->

<head>

    <link href="style.css" rel="stylesheet" type="text/css"
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="">
    <meta name="author" content="">

    <!-- Bootstrap Core CSS -->
    <link href="../css/bootstrap.min.css" rel="stylesheet">

    <!-- Custom CSS -->
    <link href="../css/style.css" rel="stylesheet">

</head>

<style>
 #bottom-container{
   display: none;
 }
</style>


<body>

  <div class="homepage">
    <a href="/games" id="homepageBody">
    </a>
  </div>
</body>

</html>
