<!DOCTYPE HTML>
 <html>
  <head>
    <!-- style -->
    <link href="modules/core/client/css/style.css" rel="stylesheet" type="text/css">
    <!-- style -->
    <!-- bootstrap -->
    <link href="modules/core/client/css/bootstrap.min.css" rel="stylesheet" type="text/css">
    <!-- responsive -->
    <link href="modules/core/client/css/responsive.css" rel="stylesheet" type="text/css">
    <!-- font-awesome -->
    <link href="modules/core/client/css/font-awesome.min.css" rel="stylesheet" type="text/css">
    <!-- font-awesome -->
    <link href="modules/core/client/css/effects/set2.css" rel="stylesheet" type="text/css">
    <link href="modules/core/client/css/effects/normalize.css" rel="stylesheet" type="text/css">
    <link href="modules/core/client/css/effects/component.css"  rel="stylesheet" type="text/css" >
  </head>
  <body>
    <!-- main -->
    <main role="main-home-wrapper" class="container">
      <div class="row">
      	<section class="col-xs-12 col-sm-4 col-md-4 col-lg-4 ">
        	<article role="pge-title-content">
          	<header>
              <h2><span>JACK'D</span> Start playing our GAMES </h2>
            </header>
            <p> and enjoy your LIFE!</p>
          </article>
        </section>
        <section class="col-xs-12 col-sm-2 col-md-2 col-lg-2 ">
        </section>
        <section class="col-xs-12 col-sm-6 col-md-6 col-lg-6 grid">
        	<figure class="effect-oscar">
            <img src="modules/core/client/img/home-images/image-1.jpg" alt="" class="img-responsive"/>
              <figcaption>
              	<h2>Pong</h2>
		            <p>A classic. Play this electronic soccer game with a friend!</p>
	              <a href="/games/pong" target="_top">View more</a>
              </figcaption>
          </figure>
        </section>
        <div class="clearfix"></div>
        <section class="col-xs-12 col-sm-6 col-md-6 col-lg-6 grid">
          <figure class="effect-oscar">
            <img src="modules/core/client/img/home-images/image-4.jpg" alt="" class="img-responsive"/>
              <figcaption>
                <h2>Snake</h2>
                <p>The more you eat, the longer you get! But the longer you get, the more dangerous you become...</p>
                <a href="/games/snake" target="_top">View more</a>
              </figcaption>
          </figure>
        </section>
        <section class="col-xs-12 col-sm-6 col-md-6 col-lg-6 grid">
          <figure class="effect-oscar">
            <img src="modules/core/client/img/home-images/image-3.jpg" alt="" class="img-responsive"/>
              <figcaption>
                <h2>White Face</h2>
                <p>Find the key. Escape White Face. Survive.</p>
                <a href="#">View more</a>
              </figcaption>
          </figure>
        </section>
      </div>
    </main>
    <!-- footer -->
    <footer role="footer">
      <!-- logo -->
      <h1>
        <a href="/" target="_top" title="JACK'D"><img src="modules/core/client/img/logo.png" title="JACK'D" alt="JACK'D"/></a>
      </h1>
      <!-- nav -->
      <nav role="footer-nav">
      	<ul>
        	<li><a href="/" target="_top" title="Games">Games</a></li>
            <li><a href="/about" target="_top" title="About">About</a></li>
            <li><a href="/setting" target="_top" title="Settings">Settings</a></li>
            <li><a href="/leaderboard" target="_top" title="Leaderboard">Leaderboard</a></li>
          </ul>
      </nav>
      <ul role="social-icons">
        <li><a href="https://twitter.com"><i class="fa fa-twitter" aria-hidden="true"></i></a></li>
          <li><a href="https://facebook.com"><i class="fa fa-facebook" aria-hidden="true"></i></a></li>
          <li><a href="https://linkedin.com"><i class="fa fa-linkedin" aria-hidden="true"></i></a></li>
          <li><a href="https://github.com/UPS-CSCI240-F17/JACK-D"><i class="fa fa-github" aria-hidden="true"></i></a></li>
      </ul>
      <p class="copy-right">&copy; JACK'D, 2017 </p>
    </footer>
    <!-- jQuery (necessary for Bootstrap's JavaScript plugins) -->
    <script src="modules/core/client/jquery.min.js" type="text/javascript"></script>
    <!-- custom -->
    <script src="modules/core/client/js/nav.js" type="text/javascript"></script>
    <script src="modules/core/client/js/custom.js" type="text/javascript"></script>
    <!-- Include all compiled plugins (below), or include individual files as needed -->
    <script src="modules/core/client/js/bootstrap.min.js" type="text/javascript"></script>
    <script src="modules/core/client/js/effects/masonry.pkgd.min.js"  type="text/javascript"></script>
		<script src="modules/core/client/js/effects/imagesloaded.js"  type="text/javascript"></script>
		<script src="modules/core/client/js/effects/classie.js"  type="text/javascript"></script>
		<script src="modules/core/client/js/effects/AnimOnScroll.js"  type="text/javascript"></script>
    <script src="modules/core/client/js/effects/modernizr.custom.js"></script>
    <!-- jquery.countdown -->
    <script src="modules/core/client/js/html5shiv.js" type="text/javascript"></script>
  </body>
</html>
