<!DOCTYPE HTML>
 <html>
  <head>
    <!-- style -->
    <link href="modules/core/client/css/style.css" rel="stylesheet" type="text/css">
    <!-- style -->
    <!-- bootstrap -->
    <link href="modules/core/client/css/bootstrap.min.css" rel="stylesheet" type="text/css">
    <!-- responsive -->
    <link href="modules/core/client/css/responsive.css" rel="stylesheet" type="text/css">
    <!-- font-awesome -->
    <link href="modules/core/client/css/font-awesome.min.css" rel="stylesheet" type="text/css">
    <!-- font-awesome -->
    <link href="modules/core/client/css/effects/set2.css" rel="stylesheet" type="text/css">
    <link href="modules/core/client/css/effects/normalize.css" rel="stylesheet" type="text/css">
    <link href="modules/core/client/css/effects/component.css"  rel="stylesheet" type="text/css" >
  </head>
  <body>
    <!-- main -->
    <main role="main-home-wrapper" class="container">
      <div class="row">
      	<section class="col-xs-12 col-sm-4 col-md-4 col-lg-4 ">
        	<article role="pge-title-content">
          	<header>
              <h2><span>JACK'D</span> Start playing our GAMES </h2>
            </header>
            <p> and enjoy your LIFE!</p>
          </article>
        </section>
        <section class="col-xs-12 col-sm-2 col-md-2 col-lg-2 ">
        </section>
        <section class="col-xs-12 col-sm-6 col-md-6 col-lg-6 grid">
        	<figure class="effect-oscar">
            <img src="modules/core/client/img/home-images/image-1.jpg" alt="" class="img-responsive"/>
              <figcaption>
              	<h2>Snake</h2>
		            <p>The more you eat, the longer you get! But the longer you get, the more dangerous you become...</p>
	              <a href="/games/pong" target="_top">View more</a>
              </figcaption>
          </figure>
        </section>
        <div class="clearfix"></div>
        <section class="col-xs-12 col-sm-6 col-md-6 col-lg-6 grid">
          <figure class="effect-oscar">
            <img src="modules/core/client/img/home-images/image-4.jpg" alt="" class="img-responsive"/>
              <figcaption>
                <h2>Pong</h2>
                <p>A classic. Play this electronic soccer game with a friend!</p>
                <a href="/games/snake" target="_top">View more</a>
              </figcaption>
          </figure>
        </section>
        <section class="col-xs-12 col-sm-6 col-md-6 col-lg-6 grid">
          <figure class="effect-oscar">
            <img src="modules/core/client/img/home-images/image-3.jpg" alt="" class="img-responsive"/>
              <figcaption style="paddleing-bottom:0%">
                <h2>Flappy Box</h2>
                <p>How long can you stay alive?</p>
                <a href="/games/flappyBox" target="_top">View more</a>
              </figcaption>
          </figure>
        </section>
      </div>
    </main>
  </body>
</html>
