<!DOCTYPE HTML>
 <html>
  <head>
    <!-- style -->
    <link href="../../core/client/css/style.css" rel="stylesheet" type="text/css">
    <!-- bootstrap -->
    <link href="../../core/client/css/bootstrap.min.css" rel="stylesheet" type="text/css">
    <!-- responsive -->
    <link href="../../core/client/css/responsive.css" rel="stylesheet" type="text/css">
    <!-- font-awesome -->
    <link href="../../core/client/css/fonts.css" rel="stylesheet" type="text/css">
    <link href="../../core/client/css/font-awesome.min.css" rel="stylesheet" type="text/css">
    <!-- font-awesome -->
    <link href="../../core/client/css/set2.css" rel="stylesheet" type="text/css">
    <link href="../../core/client/css/normalize.css" rel="stylesheet" type="text/css">
  </head>
  <body>
    <!-- main -->
    <main role="main-home-wrapper" class="container">
      <div class="row">
    	  <section class="col-xs-10 col-sm-6 col-md-6 col-lg-6">
          <article role="pge-title-content" class="contact-header">
            <header>
              <h2><span>Good job!</span> Let's see your rank.</h2>
            </header>
          </article>
          <table role="table" class="container">
            <thead>
              <tr>
                <th><h1>Username</h1></th>
                <th><h1>Score</h1></th>
                <th><h1>Rank</h1></th>
              </tr>
            </thead>
            <tbody>
              <tr>
                <td>user1</td>
                <td>1001</td>
                <td>1</td>
              </tr>
              <tr>
                <td>user2</td>
                <td>1000</td>
                <td>2</td>
              </tr>
              <tr>
                <td>etc</td>
                <td>etc</td>
                <td>etc</td>
              </tr>
              <tr>
                <td>etc</td>
                <td>etc</td>
                <td>etc</td>
              </tr>
            </tbody>
          </table>
        </section>
      </div>
    </main>
  </body>
</html>
